day2/target
day3/target
day4/target
day5/target
day6/target
day7/target
day8/target
day9/target
day10/target
day11/target
day12/target
day13/target
day2/src/main
day3/src/main
day4/src/main
day5/src/main
day6/src/main
day7/src/main
day8/src/main
day9/src/main
day10/src/main
day11/src/main
day12/src/main
day13/src/main
.vscode/